<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head :: head(' - Pizza editor')}"></head>

<body th:with="isEdit = ${pizza.id != null}">
<header th:replace="~{fragments/body :: header}"></header>

<div class="container-fluid">
    <div class="row" style="min-height: 90vh">
        <nav th:replace="~{fragments/body :: aside('pizzas')}"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 p-5">
            <div th:replace="~{fragments/body :: pageTitle(${isEdit ? 'Edit ' + pizza.name : 'New pizza'})}"></div>

            <form
                id="pizza-form"
                th:action="@{${isEdit ? '/pizzas/edit/' + pizza.id : '/pizzas/create'}}"
                method="POST"
                enctype="multipart/form-data"
                th:object="${pizza}"
                class="row"
            >
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <!--NOME-->
                            <div class="col-6 mt-2">
                                <label for="name" class="form-label">
                                    Name*
                                </label>
                                <input
                                        id="name"
                                        type="text"
                                        th:field="*{name}"
                                        class="form-control"
                                        th:errorClass="is-invalid"
                                >
                                <div class="form-text">
                                    Name must have a minimum length of 3 characters and a maximum length of 255 characters.
                                </div>
                                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('name')}">
                                            [[${err}]]
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--PREZZO-->
                            <div class="col-6 mt-2">
                                <label for="price" class="form-label">
                                    Price*
                                </label>
                                <input
                                        id="price"
                                        type="number"
                                        step="0.1"
                                        th:field="*{price}"
                                        class="form-control"
                                        th:errorClass="is-invalid"
                                >
                                <div class="form-text">
                                    Price must be positive.
                                </div>
                                <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('price')}">
                                            [[${err}]]
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--IMMAGINE-->
                            <div class="col-12 mt-2">
                                <label for="img" class="form-label">
                                    Image*
                                </label>
                                <input
                                        id="img"
                                        type="file"
                                        th:field="*{image}"
                                        class="form-control"
                                        th:errorClass="is-invalid"
                                >
                                <div th:if="${#fields.hasErrors('image')}" class="invalid-feedback">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('image')}">
                                            [[${err}]]
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--ANTEPRIMA IMMAGINE-->
                            <div th:if="${isEdit}" class="col-12 mt-2">
<!--                                <img th:src="@{*{img}}" height="200">-->
                            </div>
                            <!--DESCRIZIONE-->
                            <div class="col-12 mt-2">
                                <label for="description" class="form-label">
                                    Description*
                                </label>
                                <textarea
                                        id="description"
                                        th:field="*{description}"
                                        class="form-control"
                                        th:errorClass="is-invalid"
                                        rows="5"
                                ></textarea>
                                <div class="form-text">
                                    Description must have a minimum length of 3 characters and a maximum length of 1600 characters.
                                </div>
                                <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('description')}">
                                            [[${err}]]
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <!--INGREDIENTI-->
                        <h5 class="text-primary">Ingredients</h5>
                        <hr>
                        <div th:each="ing : ${ingList}" class="form-check">
                            <input
                                type="checkbox"
                                th:id="|ing-${ing.id}|"
                                th:value="${ing.id}"
                                th:field="*{ingredients}"
                                class="form-check-input"
                            >
                            <label class="form-check-label" th:for="|ing-*{id}|">
                                [[${ing.name}]]
                            </label>
                        </div>
                    </div>
                </div>
                <!--BOTTONI-->
                <div class="mt-4">
                    <button type="submit" class="btn btn-outline-success">
                        <i class="fa-solid fa-check"></i>
                    </button>
                    <button type="reset" class="btn btn-outline-warning">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                    <a th:href="@{/pizzas}" class="btn btn-outline-primary">
                        Back
                    </a>
                </div>
            </form>
        </main>

    </div>
</div>

</body>
</html>