<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head :: head(' - Pizzas')}"></head>

<body class="d-flex" style="height: 100vh;">

    <aside th:replace="~{/fragments/body :: aside('pizzas')}"></aside>

    <main class="container p-5 h-100">
        <div class="row">
            <div class="col-12">
                <h1 class="fw-bolder">Pizzas</h1>
            </div>
        </div>

        <ul th:if="${pizzas.size() != 0}">
            <li th:each="pizza : ${pizzas}">
                [[${pizza.name}]]
            </li>
        </ul>

        <h2 th:if="${pizzas.size() == 0 || pizzas == null}">
            Nessuna pizza da mostrare
        </h2>
    </main>

</body>
</html>