<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head :: head(' - Pizzas')}"></head>

<body>
    <header th:replace="~{fragments/body :: header}"></header>

    <div class="container-fluid vh-100">
        <div class="row h-100">
            <nav th:replace="~{fragments/body :: aside('pizzas')}"></nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-4">
                <div th:replace="~{fragments/body :: pageTitle('Pizzas')}"></div>

                <ul th:if="${pizzas.size() != 0}">
                    <li th:each="pizza : ${pizzas}">
                        [[${pizza.name}]]
                    </li>
                </ul>

                <h2 th:if="${pizzas.size() == 0 || pizzas == null}">
                    Nessuna pizza da mostrare
                </h2>
            </main>
        </div>
    </div>

</body>
</html>