<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head :: head(| - ${pizza.name}|)}"></head>

<body>
    <header th:replace="~{fragments/body :: header}"></header>

    <div class="container-fluid">
        <div class="row" style="min-height: 90vh">
            <nav th:replace="~{fragments/body :: aside('pizzas')}"></nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 p-5" th:object="${pizza}">
                <div th:replace="~{fragments/body :: pageTitle(*{name})}"></div>

                <div
                        th:if="${message != null}"
                        class="alert alert-dismissible fade show"
                        th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'alert-success' : 'alert-danger'"
                        role="alert"
                >
                    [[${message.message}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="row">
                    <div class="col-4">
                        <img th:src="*{img}" th:alt="*{name}" class="img-fluid">
                    </div>
                    <div class="col-8 px-4">
                        <div class="list-group">
                            <div class="list-group-item d-flex align-items-center gap-3">
                                <i class="fa-solid fa-quote-left text-primary"></i>
                                <div class="w-100">
                                    <h6 class="mb-0">
                                        Description
                                    </h6>
                                    <p class="mb-0 opacity-75 text-break">
                                        [[*{description}]]
                                    </p>
                                </div>
                            </div>
                            <div class="list-group-item d-flex align-items-center gap-3">
                                <i class="fa-solid fa-coins text-primary"></i>
                                <div class="w-100">
                                    <h6 class="mb-0">
                                        Price
                                    </h6>
                                    <p class="mb-0 opacity-75">
                                        [[*{#numbers.formatCurrency(price)}]]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-5 d-flex gap-2">
                        <a th:href="@{/pizzas}" class="btn btn-outline-primary">
                            Back to pizzas
                        </a>
                        <a th:href="@{|/pizzas/edit/*{id}|}" class="btn btn-outline-success">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <form th:action="@{|/pizzas/delete/*{id}|}" method="POST">
                            <button type="submit" class="btn btn-outline-danger">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>

</body>
</html>