<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head :: head(| - ${pizza.name}|)}"></head>

<body>
    <header th:replace="~{fragments/body :: header}"></header>

    <div class="container-fluid">
        <div class="row" style="min-height: 90vh">
            <nav th:replace="~{fragments/body :: aside('pizzas')}"></nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-4">
                <div th:replace="~{fragments/body :: pageTitle(${pizza.name})}"></div>
            </main>
        </div>
    </div>

</body>
</html>