<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <!--NAVBAR-->
    <header th:fragment="header" class="navbar navbar-dark bg-primary sticky-top flex-md-nowrap px-4 py-2 shadow-sm" style="min-height: 10vh">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 d-flex align-items-center text-decoration-none" th:href="@{/}">
            <img th:src="@{/img/logo.png}" width="60" alt="Logo" class="d-inline-block align-text-top">
            <span class="ms-2 fw-bolder fs-3">PizzaDB</span>
        </a>
        <div class="w-100"></div>
    </header>

    <!--MENU LATERALE DELLE PAGINE-->
    <nav th:fragment="aside(page)" class="col-md-3 col-lg-2 d-md-block sidebar collapse bg-dark navbar-dark shadow-sm">
        <div class="position-sticky pt-3">
            <h6 class="my-4 text-light lead">Dashboard</h6>
            <ul class="nav nav-pills flex-column fw-medium text-decoration-none">
                <li class="nav-item">
                    <a
                        th:href="@{/pizzas}"
                        class="nav-link"
                        th:classappend="${page == 'pizzas' ? 'active' : ''}"
                    >
                        <i class="fa-solid fa-pizza-slice me-2"></i>
                        Pizzas
                    </a>
                </li>
                <li class="nav-item">
                    <a
                            th:href="@{/ingredients}"
                            class="nav-link"
                            th:classappend="${page == 'ingredients' ? 'active' : ''}"
                    >
                        <i class="fa-solid fa-wheat-awn me-2"></i>
                        Ingredients
                    </a>
                </li>
                <li class="nav-item">
                    <a
                            th:href="@{/pizzas}"
                            class="nav-link"
                            th:classappend="${page == '--' ? 'active' : ''}"
                    >
                        ---------
                    </a>
                </li>
                <li class="nav-item">
                    <a
                            th:href="@{/pizzas}"
                            class="nav-link"
                            th:classappend="${page == '--' ? 'active' : ''}"
                    >
                        ---------
                    </a>
                </li>
                <li class="nav-item">
                    <a
                            th:href="@{/pizzas}"
                            class="nav-link"
                            th:classappend="${page == '--' ? 'active' : ''}"
                    >
                        ---------
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!--TITOLO PAGINA-->
    <div th:fragment="pageTitle(title)" class="row mb-3">
        <div class="col-12">
            <h1 class="fw-bold text-primary">
                [[${title}]]
            </h1>
            <hr>
        </div>
    </div>

    <!--TOAST ESITO OPERAZIONE-->
    <div th:fragment="toastMessage(message)" class="toast-container position-fixed top-50 start-50 translate-middle p-3" th:if="${message != null}">
        <div
                id="liveToast"
                class="toast show"
                th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'text-bg-success' : 'text-bg-danger'"
                role="alert" aria-live="assertive" aria-atomic="true"
        >
            <div class="toast-header">
                <i
                        class="fa-solid me-auto"
                        th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'fa-circle-check text-success' : 'fa-circle-xmark text-danger'"
                ></i>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                [[${message.message}]]
            </div>
        </div>
    </div>
</body>
</html>